<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link  rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content"> 
        {{>header}}
        <p>This site was created by Lucia de Espona. It uses data from WeatherStack and MapBox</p>
        <img src="img/fish.jpeg" class="portrait">
    </div>
    {{>footer}}
</body>

</html>
